# Dependencies
node_modules/
client/node_modules/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Secret credential files
# postgresqlpostgresMohanty1803@db.sr.txt   

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# System files
.DS_Store
Thumbs.db
